# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Build
dist/
build/
.tmp/
.env
.env.local
.env.*.local

# Logs
logs
*.log
*.out
*.pid

# IDE / System
.vscode/
.DS_Store
Thumbs.db
